<mat-toolbar style="background-color: #004f4e;" class="toolbar">
    <button mat-icon-button  class="example-icon" aria-label="Example icon-button with menu icon">
      <a href="#home"><mat-icon >home</mat-icon></a>
    </button>
    <span style="font-family: 'Cutive Mono', monospace !important">Amy Mendiola</span>
    <span class="example-spacer"></span>
    <button mat-button>
      <a href="#about">about</a>
    </button>
    <button mat-button>
      <a href="#projects">projects</a>
    </button>
    <button mat-button (click)="openResume()">
      <span>resume</span>
    </button>
</mat-toolbar>
