<mat-toolbar style="background-color: #004f4e;">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>home</mat-icon>
    </button>
    <span style="font-family: 'Cutive Mono', monospace !important">Amy Mendiola</span>
    <span class="example-spacer"></span>
    <button mat-button>
      <span >about</span>
    </button>
    <button mat-button>
      <span >projects</span>
    </button>
    <button mat-button (click)="openResume()">
      <span>resume</span>
    </button>
</mat-toolbar>
