<div class="container">
    <mat-card appearance="outlined">
        <mat-card-content class="card-content">
            <div class="project-flex">
                <div class="proj-title">
                    <a class="proj-link" [href]="link">{{name}}</a>
                </div>
                <div id="description" class="proj-description">
                    <p class="tools-label">Language and Tools Utilized:</p>
                    <mat-chip-set class="chip-set">
                        <mat-chip class="chip" *ngFor="let skill of skills">{{skill}}</mat-chip>
                    </mat-chip-set>
                    <div class="desc-lines">
                      <p *ngFor="let line of desc">-{{line}}</p>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
