a:visited { text-decoration: none; color:aqua; }
a:hover { text-decoration: none; color:blue; }
a:hover, a:active { text-decoration: none; color:blue }

.proj-description{
    display:inline-flex!important;
    padding-left: 20px; 
    border-left: 2px solid aqua;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

::ng-deep .mat-grid-tile-content{
    height: 100%!important;
    
}

::ng-deep #description .mat-grid-tile-content{
    justify-content: flex-start;
}

::ng-deep .mat-grid-tile {
    padding: fit-content!important;
}

.proj-title{
    display: flex;
    padding-right: 20px;
    padding-left: 12px;
    text-align: center;
    justify-content: center!important;
    align-items: center;
    height: 100%;
   
}


.card{
    min-width:90%;
    margin: 20px;
}

.container{
    margin-bottom: 30px;
}